/* Component Box  */
.body_componentBox {
    width: 20%;
    min-width: 250px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*border: 1px solid blue;*/
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(223, 159, 22);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(2, 2, 2);
}

.boxComponent {
    width: 25%;
    min-width: 150px;
    color: white;
}

.titleBox{
    width: 100%;
   /* border: 1px solid red;*/
    text-align: center;
}