/* Component Box  */
.titleBox{
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 0.8rem;
    overflow: visible;
    overflow-wrap: anywhere;
    padding-left: 10px;
    padding-right: 10px;
}