

.body_header {
    background-color: #a52a2a;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    margin-bottom: 30px;
}

.img_boxHeader {
    position: relative;
    width: 4%;
    min-width: 170px;
    max-width: 450px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img_boxHeader>a>img {
    width: 70%;
    height: auto;
    margin-left: 20%;
}

.use_box{
    width: 50%;
    min-width: 100px;
    max-width: 600px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.user_boxGreetings{
    width: 80%;
    min-width: 100px;
    height: 40px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid black;

}

.user_boxLogButton {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



button>a{
    all: unset;
}

@media (max-width: 640px){
    .body_header {
        justify-content: space-around;
       
    }
    .img_boxHeader>a img {
        width: 70%;
        height: auto;
        margin-left: 10%;
    }
  
   

}

@media (max-width: 410px){
    .use_box{
        width: 100%;
    }
    .img_boxHeader{
        display: none;
    }
    
}