.body_footer{
    background-color: brown;
    width: 100%;
    height: 150px;    
    display: flex;
}
.img_boxFooter{
    position: relative;
    width: 4%;
    min-width: 170px;
    max-width: 450px;
    height: 150px;    
    display: flex;
}
.img_boxFooter>img{
    width: 70%;
    height: auto;
    margin: auto;
}