.collectiveDetail {
    width: 99%;
    min-width: 250px;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(255, 255, 255);
}

.boxComponent {
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.boxComponent:first-child {
    width: 100%;
    font-size: 1rem;
}
.boxComponent:se {
    width: auto;
    font-size: 1rem;
    border: 1px solid red;
}

.btn_box{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.btn_box_sub1{
    width: 50%;
    min-width: 275px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox{
    width: 100%;
    text-align: center;
}