@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Russo+One&family=Silkscreen&display=swap');
/*
.body_home {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;


}
*/
.logoBox {
    width: 45%;
    max-width: 800px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: relative;
    width: 80%;
    min-width: 200px;
}

.botonera_home {
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text_content{
    width: 80%;
    height: auto;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font: 1em sans-serif;
}

@media (max-width: 900px) {
    .text_content{
        width: 70%;  
    }
}