@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Russo+One&family=Silkscreen&display=swap');

.box-main-home{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logoBox {
    flex: 55%;
    min-width: 350px;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    position: relative;
    width: 40%;
    min-width: 200px;
}

.text_content{
    flex: 39%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_content p{
    width: 90%;
    height: auto;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-align: center;

}

.botonera_home {
    flex: 50%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}

.botonera_home-sub1 {
    flex: 50%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}

@media (max-width: 580px) {
    .text_content {
        display: none;
    
    }
}

@media (max-width: 700px) {
    .logo {
        position: relative;
        width: 70%;
        min-width: 200px;
    }

    .text_content{
        width: 70%;  
    }

    .botonera_home-sub1 {
        flex: 100%;
    }
}

@media (max-width: 900px) {
    .text_content{
        width: 70%;  
    }
}