/*---------- Form buttons -----------*/
.submitBtn {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f4511e;
    color: aliceblue;
    transition : 1000ms;
    font-family: 'Montserrat' ;
}

.submitBtn:hover {
    width: 100%;
    border: 1px solid #f4511e;
    transition : 1000ms;

}

/*----------  buttons -----------*/



/*---------- Home buttons -----------*/
.btn-card{
    width: 200px;
    height: 50px;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    text-align: center;
    font-size: 28px;
    font-family: 'Montserrat' ;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-card:hover {
    width: 250px;
    /*content: '\00bb';*/
    transition: 0.5s;
}

.btn_home {
    width: 200px;
    height: 50px;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    text-align: center;
    font-size: 28px;
    font-family: 'Montserrat' ;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_home:hover {
    width: 250px;
    /*content: '\00bb';*/
    transition: 0.5s;
}

.btn_alert{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(60, 108, 243);
    color: #FFFFFF;
}
.btn_alert:hover{
    border: 1px solid rgb(106, 177, 224);
    background-color: aquamarine;

}

.btn_alert_ok{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(60, 108, 243);
    color: #FFFFFF;
}
.btn_alert_ok:hover{
    border: 1px solid rgb(106, 177, 224);
    background-color: aquamarine;

}

.btn_alert_notOk{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(243, 87, 60);
    color: #FFFFFF;
}
.btn_alert_notOk:hover{
    border: 1px solid rgb(106, 177, 224);
    background-color: aquamarine;

}
.btn_action{
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.btn_showHide{
    width: 50%;
    height: 40px;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat' ;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_showHide:hover{
    width: 70%;
}

.btn_add{
    width: 50%;
    border-radius: 4px;
    max-height: 25px;
    background-color: #f4511e;
    border: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
}

.btn_add:hover{
    width: 70%;
}

.btn1{
    font-weight: 0;
    font-size: 14px;    
    font-family: 'Montserrat' ;
    color: #fff;
    background: #be005e;
    padding: 10px 30px;
    box-shadow: rgb(0, 0, 0, 0.12 ) 5px 5px 0px 0px;
    border-radius: 5px;
    border: none;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn1:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background: #9016C1;
    border: none;
    color: #c1fff5;
}

.anchor{
    width: 75%;
    height: 50px;
    /* background-color: #be005e; */
    border: 1px solid #be005e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition : 1000ms;

}

.anchor:hover{
    transition : 1000ms;
    width: 93%;
    
}

@media (max-width: 700px) {
    .btn_home {
        width: 140px;
        font-size: 0.9rem;
    }

}


@media (max-width: 450px) {
    .btn_home {
        width: 120px;
        font-size: 0.7rem;
    }

    .btn_showHide{
        font-size: 0.8rem;
    }
}

