.body_principal {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.body_home {
    width: 100%;
    min-height: 55vh;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap:  wrap;
    align-items: first baseline;
    padding-top: 40px;
    padding-bottom: 40px;

}
.principal_boxComponent {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.principal_boxComponent > p {
    color: aliceblue;
}

.principal_boxComponent>a {
    text-decoration: none;
    color: rgb(24, 73, 119);
}

.nuevoBox {
    width: 50%;
    min-width: 300px;
    height: 30px;
    border-bottom: 1px solid rgb(255, 254, 254);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nuevoBox>a {
    text-decoration: none;
    color: rgb(20, 91, 119);
}

.nuevoBox>p {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.nuevoBox1 {
    width: 80%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nuevoBox1>a {
    text-decoration: none;
    color: rgb(20, 91, 119);
}

.nuevoBox1>p {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.body_error{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.body_error > h2{
    width: 90%;
    text-align: center;
}

.body_error > span{
    width: 90%;
    text-align: center;
}

a{
    text-decoration: none;
}

.title_component{
    font-size: 2rem;
}