.body_principal {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 20px;
}
.body_home {
    width: 100%;
    min-height: 55vh;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap:  wrap;
    align-items: stretch;
    padding-top: 40px;
    padding-bottom: 40px;

}
.principal_boxComponent {
    width: 90%;
    height: auto;
    min-height: 350px;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.principal_boxComponent > p {
    color: aliceblue;
}


.boxComponent_collective {
    text-decoration: none;
    color: rgb(24, 73, 119);
}

.boxComponent_game {
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    text-decoration: none;
    color: rgb(24, 73, 119);
    margin-bottom: 20px;
    padding: 35px;
    border: 1px solid white;
}

.nuevoBox {
    width: 50%;
    min-width: 300px;
    height: 30px;
    border-bottom: 1px solid rgb(255, 254, 254);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nuevoBox>a {
    text-decoration: none;
    color: rgb(20, 91, 119);
}

.nuevoBox>p {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.nuevoBox1 {
    width: 80%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nuevoBox1>a {
    text-decoration: none;
    color: rgb(20, 91, 119);
}

.nuevoBox1>p {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.body_error{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.body_error > h2{
    width: 90%;
    text-align: center;
}

.body_error > span{
    width: 90%;
    text-align: center;
}

a{
    text-decoration: none;
}

.title_component{
    font-size: 2rem;
}

@media  (max-width: 355px) {
    .principal_boxComponent {
        width: 90%;
        height: auto;
        min-height: 350px;
        margin: auto;
        display: flex; 
        flex-wrap: wrap;
        align-content: space-between;
        border: 1px solid red;
    }
}