.body_principal {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family: 'Montserrat';
}
.body_home {
    width: 100%;
    min-height: 55vh;
    height: auto;
    margin: 0;
    display: flex;
    flex-wrap:  wrap;
    align-items: stretch;
    font-family: 'Montserrat';
    margin-bottom: 100px;

}
.principal_boxComponent {
    width: 90%;
    height: auto;
    min-height: 350px;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.principal_boxComponent > p {
    color: aliceblue;
}

.box-inicial{
    width: 80%;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.box-inicial-sub1{
    height: 50px;
    width: 45%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxComponent_collective {
    text-decoration: none;
    color: rgb(24, 73, 119);
}

.boxComponent_collective:hover {
    text-decoration: none;
    color: rgb(24, 73, 119);
}

.boxComponent_game {
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    text-decoration: none;
    color: rgb(24, 73, 119);
    margin-bottom: 20px;
    padding: 35px;
}

.nuevoBox {
    width: 50%;
    min-width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.nuevoBox>p {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.nuevoBox1 {
    width: 80%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.body_error{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.body_error > h2{
    width: 90%;
    text-align: center;
}

.body_error > span{
    width: 90%;
    text-align: center;
}

a{
    text-decoration: none;
}

.title_component{
    font-size: 2rem;
}

.fontBox{
    font-size: 0.8em;
}

.card-box{

}

.card-data-box{
    
}

@media  (max-width: 450px) {
    
.anchor{
    font-size: 1rem;

}
}

@media  (max-width: 355px) {
    .principal_boxComponent {
        width: 90%;
        height: auto;
        min-height: 350px;
        margin: auto;
        display: flex; 
        flex-wrap: wrap;
        align-content: space-between;
    }
}